.body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100dvh;
    background-image: url('/img/background-image.PNG');
    background-size: cover;
    background-position: center;
    margin: 0;
    color: #fefefe;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    max-width: 320px;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0 0.125rem 0.25rem 0 #fefefe80;
    background-color: #01050880;
    backdrop-filter: blur(0.5rem);
    text-align: center;
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5rem;
}

.title {
    margin: 0;
    font-size: 1.125rem;
}

.subtitle {
    margin: 0;
    color: #bbb;
    font-size: 1rem;
}

.text {
    margin: 0;
    font-size: 0.875rem;
}

.img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}

.badge {
    padding: 0.25rem 0.5rem;
    border-radius: 0.7rem;
    background-color: #23bd94;
    color: #010508;
    font-size: 0.75rem;
    font-weight: bold;
    transition: box-shadow 0.25s, filter 0.25s;

    &:hover {
        box-shadow: 0 0.125rem 0.25rem 0 #23e8c7;
        filter: brightness(1.25);
    }
}

.link {
    color: #fefefe;
    font-weight: bold;
    transition: color 0.25s;

    &:hover {
    color: #23b5e8;
    }
}